@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.footer {
    font-family: Raleway;
}

.copyright {
    text-align: center;
    color: #666666;
    padding:10px;
}

.copyright span {
    padding: 5px;
}

.footer-links {
    text-align: center;
    font-size: 2rem;
}

.footer-links a {
    padding: 20px;
}
