@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');



.contact {
    font-family: Raleway;
}

.contact-heading h1 {
    border-bottom: 2px solid #fde428;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 0;
    padding-bottom: 0px;
    text-shadow: 2px 2px #034f9b6b;

}

.contact-body {
    display: flex;
    flex-direction: row;
}

.contact-body input {
    height: 50px;
    width: 100%;
    background: 0 0;
    font-size: 16px;
    color:  -internal-light-dark(black, white);
    padding-left: 20px;
    font-weight: 300;
    margin-right: 20px;
    margin-bottom: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.contact-body textarea {
    height: 150px;
    width: 100%;
    background: 0 0;
    font-size: 16px;
    color: #222;
    padding-top: 12px;
    padding-left: 20px;
    font-weight: 300;
    margin-bottom: 14px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

.contact-body form {
    padding: 30px;
    align-content: center;
}

.contact-subheading {
    text-align: center;
    color: #002e5b;
    font-family: Raleway;
    margin-bottom: 30px;
    text-shadow: 2px 2px #034f9b6b;

}

@media Screen and (max-width:1000px) {
    .contact-image {
        display: none
    }
}

.submit-btn {
    color: #000;
    background: #fde428;
    font-family: play,sans-serif;
    font-weight: 700;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 14px 0px;
    width: 100%;

}
