.places_card {
    padding:20px;
    margin: 50px;
    color: #00285b;
    border-radius: 10px;
    background-color: rgb(245, 240, 240);
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease 0s;
}

.places_body h2 {
    padding: 20px;
    padding-bottom: 0;
}

.places_body p {
    padding: 20px;
    max-width: 1000px
}

.places_card:hover {
    background-color: #002e5b;
    color: #fde428;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transition: all 0.75s ease 0s;
}

.places-en {
    background-image: url('https://wallpaperaccess.com/full/470732.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.places_footer {
    padding: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #9b9c9ce3;
}

.places_heading h1 {
    color: #fff;
    border-bottom: 2px solid #fde428 ;
    padding-bottom: 0px;
    text-shadow: 2px 2px #9b9c9ce3;
}

@media Screen and (max-width: 700px) {
    .places_card {
        display: block;
    }
     .places_card img {
         padding: 20px;
     }
}