@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');



.explore {
    font-family: Raleway;
    background-image: url('http://all4desktop.com/data_images/original/4235938-cool-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.explore-heading h1 {
    border-bottom: 2px solid #fde428;
    margin-bottom:20px;
    margin-top: 50px;
    padding: 0;
    padding-bottom: 0px;
    color: #fff;
    text-shadow: 2px 2px #9b9c9ce3;

}

.explore-body {
  width: 100%;
  text-align: center;
  align-items: center;
}

.explore-card {
    width: 25rem;
    font-size: 2rem;
    padding: 30px 0px;
    background-color: #fde428;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 3px;
    color: #002e5b;
    transition: all 0.75s ease 0s;
}

.explore-card:hover {
    cursor: pointer;
    background-color:#002e5b ;
    color: #fff;
    box-shadow: 0px 0px 20px #fff;
    transition: all 0.75s ease 0s;
}
  
.explore-card h3 {
    padding: 30px;
}

.explore-footer {
    text-align: center;
    color: #fff;
    padding: 10px;
    text-shadow: 2px 2px #9b9c9ce3;

}