@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.header {
    margin-top: 0;
}

.header-main-in {
    background-image: url("https://wallpaperaccess.com/full/5773.jpg") ;
    width: 100;
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fde428;
    text-align: center;
    font-family: Raleway;
}

.header-main-in h2 {
    font-size: 4rem ;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
